[Unit]
Description=Redis data structure server
Documentation=https://redis.io/documentation, man:redis-server(1)
Wants=network-online.target
After=network-online.target

[Service]
Type={{ 'forking' if redis_daemonize == 'yes' else 'notify' }}
ExecStart={{ redis_install_dir }}/bin/redis-server /etc/redis/{{ redis_config_file_name }}
EnvironmentFile=-/etc/default/{{ redis_service_name }}
PIDFile={{ redis_pidfile }}
TimeoutStartSec=infinity
TimeoutStopSec=infinity
Restart=always
User={{ redis_user }}
Group={{ redis_group }}

{% if redis_oom_score_adjust != 0 %}
OOMScoreAdjust={{ redis_oom_score_adjust }}
{% endif %}

UMask=007
PrivateTmp=yes
LimitNOFILE={{ redis_nofile_limit }}
PrivateDevices=yes
ProtectHome=yes
ReadOnlyPaths=/
ReadWritePaths=-{{ redis_dir }}
{% if redis_logfile != '""' %}
ReadWritePaths=-{{ redis_logfile|dirname }}
{% endif %}
ReadWritePaths=-{{ redis_pidfile|dirname }}
CapabilityBoundingSet=~CAP_SYS_PTRACE

# redis-server writes its own config file when in cluster mode so we allow
# writing there (NB. ProtectSystem=true over ProtectSystem=full)
ProtectSystem=true
ReadWritePaths=-/etc/redis

[Install]
WantedBy=multi-user.target
